body {
    padding: 0;
    margin: 0; 
    font-family: "Manrope", sans-serif;
    font-style: normal;
    height: 100vh;
}

.container { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
} 

header { 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
}

.button-office {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
    padding: 20px 0; 
}

button {
    background-color: #BDF300; 
    border: none;
    border-radius: 100px; 
    padding: 10px 20px; 
    cursor: pointer;
    width: 250px;
}

@keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
}
  
.button {
    overflow: hidden;
    position: relative;
}
  
.button:after {
    content: "";
    display: block;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

h1:first-child {
    white-space: nowrap; 
}

h1 {
    margin: 0; 
    font-weight: 300;
    font-size: 20px;
    max-width: 800px;
    text-align: center;
}

h2 {
    margin: 30px 0 30px 0;
    font-weight: 600;
    font-size: 50px;
    max-width: 800px;
}

.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}

.back {
    background-color: #F5FBFF;
    width: 100%;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 50px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    border: 4px solid #30C7F7;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: auto; /* Меняем на auto, чтобы блок подстраивался под содержимое */
    padding: 20px; /* Добавляем отступы внутри блока */
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем галочку и текст по вертикали */
    font-size: 24px; /* Размер шрифта */
    margin: 10px 0; /* Отступы между пунктами */
    max-width: 230px;
    width: 230px;
    text-align: center;
    font-weight: 600;
}

.checkmark {
    margin-right: 10px; /* Отступ между галочкой и текстом */
    color: #30C7F7; /* Цвет галочки */
    margin-bottom: 10px;
    
}

.list{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 848px;
}

.item-list{
    border: 4px solid #30C7F7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto; 
    padding: 20px 10px 20px 5px; 
    font-size: 22px;
    font-weight: 500;
}

.name-item{
    text-align: center;
}

li{
    padding-top: 20px;
}

.setting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-setting-general{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.item-setting{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-setting3{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between
}

.item-setting img{
    padding: 20px;
}

.back-blue{
    background-color: #409EEF;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 50px;
}

.qwe{
    height: 1000px;

}


.form-container {
    background-color: #ffffff;
    padding: 20px;
    width: 600px; /* Ширина формы */
    margin: 20px auto; /* Центрирование формы */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами */

}

label {
    display: block; /* Отображение метки как блочный элемент */
    margin-bottom: 5px; /* Отступ снизу */
    font-weight: bold; /* Жирный шрифт для меток */
}

textarea {
    resize: none; /* Запрет изменения размеров текстового поля */
}

.center{
    display: flex;
    justify-content: center
}

h3{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    max-width: 500px;
}

.highlight {
    color: #517FE2;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%; /* Ширина полей ввода */
    padding: 10px; /* Отступы внутри полей */
    border: 2px solid #E3E3E3; /* Цвет границы */
    background-color: #F2F2F2;
    border-radius: 5px; /* Закругление углов */
    box-sizing: border-box; /* Учет отступов и границ в ширине */
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

.required {
    color: red; /* Цвет звездочки */
}

.button-submit {
    background-color: #4AC2EE; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без границы */
    border-radius: 1px; /* Закругление углов кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина кнопки */
}

.button-submit:hover {
    background-color: #409EEF; /* Цвет кнопки при наведении */
}

footer {
    display: flex;
    flex-direction: row;
    border-top: 3px solid #FFFFFF; /* Цвет границы */
    border-bottom: 3px solid #FFFFFF; /* Цвет границы */
    background-color: #409EEF;
    height: auto;
    padding-top: 40px;
    align-items: flex-end;
    justify-content: center;
}

h4{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
    padding: 20px;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-text{
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px) {
    .button-office h1:not(:last-child) {
        display: none; 
    }
}



